h1{
    color: red;
    font-size: 64px;
    font-weight: bold;
    font-family: 'Alkatra', cursive;
    font-style: italic;
    text-shadow: 10px 10px 10px #ff0000;
    /*PARA COLOCAR SOMBRA NA FONT
    PRIMEIRO QUANTO QUER DE SOMBRA FORIZONTAL
    SEGUNDO PARAMETRO SOMBRA NA VERTICAL
    E O TERCEIRO SOMBRA ESFUMAÇADA OU MAIS SÓLIDA
    E POR ÚLTIMO A COR*/
}

p{
    color: blue; /*TROCA A COR DO TEXTO*/
    font-size: 30px; /*TROCA O TAMANHO DO TEXTO*/
    font-weight: 900;
    font-family: 'Alkatra', cursive;
    line-height: 50px; /*AUMENTA OS ESPAÇOS ENTRE AS LINHAS*/
    letter-spacing: 30px; /*AUMENTA OS ESPAÇOS ENTRE AS LETRAS*/
    word-spacing: 10px; /*ESPAÇO ENTRE AS PALAVRAS*/
    text-align: center; /*PARA ALINHAR O TEXTO, CENTRO, DIREITA, ESQUERDA*/
    text-transform: capitalize; /*PODEMOS ESCOLHER TODO MUNDO MAIUSCULO, MINUSCULO OU SOMETE A PRIMEIRA LETRA MAIUSCULA*/
    text-decoration: underline; /*PODEMOS COLOCAR ALGUMAS COISAS NO TEXTO, COMO SUBLINHAR*/
}

/*NO FONT-WEIGTH PODEMOS USAR BOLD QUE É NEGRITO
BOLDER QUE É O NEGRITO DE MAIOR ESCALA
FONT LIGTHER QUE DEIXA A FONT FINA*/

/*PODEMOS IMPORTAR A FONT DENTRO DO CSS TAMBÉM, BASTA IRMOS NA MESMA
PÁGINA QUE HAVIA COPIADO O CÓDIGO DA FONT, EM VEZ DE COPIAR O LINK
VAMOS COPIAR O @IMPORT E COLAR NO CSS,*/