/*O SELETOR CLASSE, É COMO O CEP DA RUA QUE TODO
MUNDO USA O MESMO, NA PROGRAMAÇÃO A CLASSE, VÁRIAS
TAGS PODE USAR*/

/*E PARA CHAMAR A CLASSE USAR O .*/

.titulo{
    color: aquamarine;
    font-weight: bold;
}

.botao{
    background-color: brown;
}

/*REFERNTE AS CORES NO CSS, PODEMOS ULTILIZALAS EM RGB (RED,GREEN
BLUE) MISTURA DESSAS 3 CORES PARA CHEGARMOS NA COR QUE QUEREMOS,
EXEMPLO: COLOCA BACKGROUND: RGB(100,50,5) COLOCA OS NÚMEROS DE
QUANTO QUEREMOS USAR DE CADA COR. OU PODEMOS ULTILIZAR O MÉTODO
HEXADECIMAL EXEMPLO: BACKGROUND: #FF0000* ONDE FF É O MÁXIMO DA COR/