* {
    box-sizing: border-box; /*POR MAIS QUE COLOQUE BORDA, MARGEM
                            A NOSSA CAIXA ELA NÃO VAI PASSAR DO
                            TAMANHO ESTIPULADO*/
}

.box{
    width: 200px;
    height: 100px;
    background: #ff1493;
    padding: 20px;
    border: 10px solid #0000ff;


}

/*QUANDO VOCÊ COLOCA TAMANHO NA SUA CAIXA E ADICIONA, MARGEM E BORDA
ELA SOMA ESSES VALORES E FICA MAIOR, MAS SE USAR O BORDER-BOX
ELE NÃO DEIXA ISSO ACONTECER, TODO OS VALORES SÃO ADAPTADOS E ELE
NÃO SOMA, NÃO CONTINUA CRESCENDO, ELE ENCOLHE OS ELEMNTOS NA CAIXA*/

a {
    box-sizing: content-box; /*ESSA TAG FAZ COM QUE TODA A CAIXA
                             SOME SEUS VALORES E CRESÇA DE DENTRO
                             PARA FORA*/
}